//
  extends layout
  block content
  h1= title
  p Welcome to #{title}
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  //
    link(rel='icon' href='/images/penguin.png')
  link(rel='shortcut icon' href='/images/penguin.png')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css' integrity='sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
  title Aryan Sidhwani
script.
  function expandSideNav() {
  document.getElementById("sideNav").classList.add("bigNav");
  document.getElementById("closeButtonLink").style.width="auto";
  document.getElementById("closeButtonLink").style.display="block";
  document.getElementById("closeButton").style.visibility="visible";
  document.getElementById("closeButton").style.display="flex";
  document.getElementById("nav-expander").style.display="none";
  }
  function closeSideNav() {
  document.getElementById("sideNav").classList.remove("bigNav");
  document.getElementById("closeButton").style.display="block";
  document.getElementById("closeButton").style.visibility="invisible";
  document.getElementById("closeButtonLink").style.display="none";
  document.getElementById("nav-expander").style.display="flex";
  }
  function removeMessage() {
  document.getElementById("message-box").style.display="none";
  }
  function showImpressum() {
  closeSideNav();
  var sheet = document.createElement("div");
  var impDiv = document.createElement("div");
  var text = document.createElement("p");
  var closeButton = document.createElement("a");
  sheet.id = "impressum-sheet";
  closeButton.classList.add("imp-close-link");
  closeButton.href="/";
  closeButton.appendChild(document.createTextNode("X"));
  text.classList.add("impressum-text");
  text.appendChild(document.createTextNode("Icons in icons div and the hamburger menu icon designed by <a href='https://freeicons.io' target='_blank'>icons king1</a>"));
  impDiv.appendChild(text);
  impDiv.appendChild(closeButton);
  sheet.appendChild(impDiv);
  impDiv.classList.add("imp-div");
  sheet.classList.add("imp-sheet");
  impDiv.onclick="closeImpressum()";
  document.getElementById("sections-container").appendChild(sheet);
  console.log("show impressum function tried to run");
  }
block message
#nav-expander(onclick='expandSideNav()')
#sideNav
  #closeButton
    a#closeButtonLink(href='javascript:void(0)' onclick='closeSideNav()') &times;
  a(href='#intro-section')
    .sideNavli
      | About
  a(href='#work-section')
    .sideNavli
      | Project
  a(href='#platform-section')
    .sideNavli
      | Skills
  a(href='https://pleaseexplain.me' target='”_blank”')
    .sideNavli
      | Blog
  a(href='javascript:void(0)' onclick='showImpressum()')
    .sideNavli
      | Impressum
#sections-container.container
  section#intro-section.section1
    #intro-holder
      img#floatmug.mug(src="/images/aryan.jpeg" alt="my face")
      #greet-container.greet-container
        p.greet  Hi! I am Aryan Sidhwani 👋
        #mug-icontain
          #leftgreets
            p.greet-sub
              | > software developer in Delhi 📍
              br
              | > sophomore at DTU 📚
            p.greet-sub
              | my interests include:
            p.greet-small
              | - programming 💻
              br
              | - astronomy ☄️
              br
              | - rock music 🎵
              br
          #rightgreets
            p.greet-sub
              | 📍 software developer in Delhi <
              br
              | 📚 sophomore at DTU <
            p.greet-sub
              | my interests include:
            p.greet-small
              | 💻 programming -
              br
              | ☄️ astronomy -
              br
              | 🎵 rock music
              br
          img#inmug.mug(src="/images/aryan.jpeg" alt="my face")
  script(src='/javascripts/three.min.js')
  script(src='/javascripts/vanta.net.min.js')
  script.
    VANTA.NET({
    el: "#intro-section",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x3f99ff,
    backgroundColor: 0x1d1d1d
    })
  .transitionImage(style="background-image: url('/images/layered-waves-haikei-1.svg');")
  //
    <div class="transitionImageDiv">
    <img class="transitionImage" src="/images/layered-waves-haikei-1.svg" alt="" class="transitionImage">
    </div>
  section#work-section.section2
    #waypointer(style='visibility: hidden;')
    h1#work-section-heading.section-heading  My Work
    #proj-container
      #proj-desc-container
        p#proj-desc
          | A Gallery of some of the projects that I have made
          br
          | Swipe Right ➡️
      #projects-div.greet-container.projectsdiv
        a.project-link(href='https://github.com/silverstone-git/esql' target="_blank")
          p.project-title
            | ESQL
          p.project-desc
            | A DBMS CLI in python
          .project-image-div
            img.project-image(src='/images/esql.svg' alt='A photo with a cloud and raining bits')
        a.project-link(href='https://pen-pineapple.herokuapp.com' target="_blank")
          p.project-title
            | Pen-Pineapple
          p.project-desc
            | A Movie Review Website
          .project-image-div
            img.project-image(src='/images/pen-pineapple.svg' alt='A histogram with a film on top')
        a.project-link(href='https://github.com/silverstone-git/cweather' target="_blank")
          p.project-title
            | Cweather
          p.project-desc
            | An input friendly Weather App in C
          .project-image-div
            img.project-image(src='/images/cweather_1.svg' alt='A big C with a sun at mouth')
        a.project-link(href='https://github.com/silverstone-git/what-food' target="_blank")
          p.project-title
            | What-Food
          p.project-desc
            | A Food Recommendation app in Android
          .project-image-div
            img.project-image(src='/images/what-food.svg' alt='A carrot with spoon and fork')
  .transitionImage(style="background-image: url('/images/layered-waves-haikei-2.svg');")
  //
    <div class="transitionImageDiv">
    <img class="transitionImage" src="/images/layered-waves-haikei-2.svg" alt="Nothing here to see">
    </div>
  section#platform-section.section3
    h1.section-heading  My Tech Stack
    #platforms.platforms
  .transitionImage(style="background-image: url('/images/layered-waves-haikei-3.svg');")
  section.section4(style='height: fit-content; min-height: 100vh;')
    .myformdiv
      p#dummyp(style="display: none") #{sandwich}
      form(action='/' method='POST')
        // <legend class="whiteone">Your Query</legend>
        label(for='name')
          p.flinkfont Name
        input#name(type='text' name='name' placeholder='Your Name')
        label(for='email')
          p.flinkfont Email Address
        input#email(type='email' name='_replyto' placeholder='Your Email Address')
        input#sandwich(type="radio" name="sandwich" value="#{sandwich}" style="display:none" checked)
        label(for='message')
          p.flinkfont Message
        textarea#message(name='message' cols='100' rows='8' placeholder='Your Message')
        button.darkit(type='submit')
          p
            | Send
      script.
        document.getElementById("sandwich").value = document.getElementById("dummyp").innerHTML;
    #icons
      //
        object.icon.icon-github(type="image/svg+xml" data="/images/github.svg")
        object.icon.icon-linkedin(type="image/svg+xml" data="/images/linkedin.svg")
        object.icon.icon-twitter(type="image/svg+xml" data="/images/twitter.svg")
        object.icon.icon-instagram(type="image/svg+xml" data="/images/instagram.svg")
        object.icon.icon-mail(type="image/svg+xml" data="/images/mail_black.svg")
      //
        span.icon.icon-github
        span.icon.icon-linkedin
        span.icon.icon-twitter
        span.icon.icon-instagram
        span.icon.icon-mail
      a(href="https://github.com/silverstone-git/" target="_blank")
        img.icon(src="/images/github.svg")
      a(href="https://linkedin.com/in/aryan-sidhwani" target="_blank")
        img.icon(src="/images/linkedin.svg")
      a(href="https://twitter.com/silverstonium/" target="_blank")
        img.icon(src="/images/twitter.svg")
      a(href="https://instagram.com/silverstonium/" target="_blank")
        img.icon(src="/images/instagram.svg")
      a(href="mailto:admin@aryansidhwani.tech")
        img.icon(src="/images/mail_black.svg")
    p.footer-message &copy; Aryan Sidhwani 2022 
  //
    <div class="transitionImageDiv">
    <img class="transitionImage" src="/images/layered-waves-haikei-3.svg" alt="Nothing here to see">
    </div>
script(src='/javascripts/jquery-3.6.1.min.js')
script(src='/javascripts/jquery.waypoints.js')
script(src='/javascripts/put_platforms.js')
script(src='/javascripts/animate_wp.js')
